<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/app.css">

  <title>David Garza</title>
</head>

<body>
  <!--main header-->
  <section id="mainHeader" class="container">
    <div class="headerContent">
      <div class="row-height">
        <div class="flex-row-top">
          <div class="flex-col-top">
            <div data-aos="fade-down">
              <div class="top-title">David</div>
            </div>
            <div data-aos="fade-up">
              <div class="top-title">Garza</div>
            </div>
            <div class="about-me-content">
            </div>
          </div>
          <div class="flex-col-top">
            <div id="imageRoll">
              <img src="computer-flat.png" />
              <img src="cell-flat.png" />
              <img src="earth-flat.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="topnav" id="navbar">
        <ul>
          <li><a onclick="scrollSection('mainHeader')">Home</a></li>
          <li><a onclick="scrollSection('contactMe')">Contact Me</a></li>
          <li><a onclick="scrollSection('skillsBox')">Attributes</a></li>
          <li><a onclick="scrollSection('appsBox')">Apps</a></li>
          <li><a onclick="scrollSection('educationBox')">Experience</a></li>
          <li><a onclick="scrollSection('mainContent')">About Me</a></li>
          <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i></a></li>
        </ul>
      </div>
    </div>
  </section>

  <!--main content-->
  <section id="mainContent" class="container">
    <div class="flex-row">
      <div class="flex-col">
        <div data-aos="fade-right">
          <div class="col-wrapper">
            <div class="about-me-content">
              <div class="top-content-title-secondary">
                HELLO
              </div>
              <p>My name is <span>David</span>, I am a multi-disciplinary <span>Geologist</span>,
                <span>Biologist</span>, and <span>Web Developer</span></p>
              <i class="fas fa-ellipsis-h"></i>
              <p>Qualified and experienced geoscientist in interpretative software and research capabilities.
                I have worked 3 years in industry that primarily produced from dated oil & gas fields for future
                exploitation.
                Using SMT/Kingdom suites and gathered wellbore research I have evaluated and assisted in selecting
                prospects, running operations,
                conducting field work, and processing data.</p>
            </div>
          </div>
          <div class="main-content-button">
            <a onclick="scrollContactFunction()">Let's chat!!</a>
          </div>
        </div>
      </div>
      <div class="flex-col">
        <div data-aos="fade-left" data-aos-delay="300" data-aos-once="false">
          <div class="profile-picture"></div>
        </div>
      </div>
    </div>
  </section>

  <!--education portion-->
  <section id="educationBox" class="container">
    <div class="top-content">
      <div class="top-content-title">
        EXP
      </div>
      <p>I have achieved my B.S in <span>Geology</span> A.S in <span>Biology</span> with demonstrated workload and
        research in each, in addition, my <span>web development</span> studies in both front-end & back-end technologies
        are displayed:
        <span><a href="resumeDMG2018.pdf" download>Check out my Resume Here</a></span>
      </p>
    </div>
    <div class="content">
      <div class="flex-row">
        <div class="col-4">
          <div data-aos="fade-up">
            <div class="col-wrapper-secondary">
              <div class="edu-content-box">
                <img src="earth-flat.png">
                <div class="title-content-box">Geologist</div>
                <p>Geologist at an Oil and Gas company. We explored old fields and exploited remaining reservoirs that
                  were left unproduced</p>
              </div>
              <div class="btn-content">
                <a href="/">Discover Oil</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div data-aos="fade-up" data-aos-delay="150">
            <div class="col-wrapper-secondary">
              <div class="edu-content-box">
                <img src="cell-flat.png" alt="">
                <div class="title-content-box">Biologist</div>
                <p>Biologist at Texas Agrilife extenstion center. Studied the effects of leaf cutter ants had at a local
                  vineyard's crops and horticulture practices</p>
              </div>
            </div>
            <div class="btn-content">
              <a href="/">Explore biology attributes</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div data-aos="fade-up" data-aos-delay="300">
            <div class="col-wrapper-secondary">
              <div class="edu-content-box">
                <img src="computer-flat.png" alt="">
                <div class="title-content-box">Web Development</div>
                <div class="overflow-box">
                  <p>Self-taught web developer experienced in front-end and back-end coding with emphesis on MongoDB,
                    Express, Node, and ejs. </p>
                </div>
              </div>
              <div class="btn-content">
                <a href="/">Deployed websites</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- websites and apps portion -->
  <section id="appsBox" class="container">
    <div class="top-content">
      <div class="top-content-title">
        Apps
      </div>
      <p>A sample of launched websites created through coursework using various technologies such as <span>Node</span>,
        <span>Express</span>, <span>MongoDB</span> as well as <span>Apollo</span>, <span>Graphql</span>, and <span>Vue
          Js</span>
      </p>
    </div>
    <div class="content">
      <div class="flex-row">
        <div class="col-4">
          <div data-aos="fade-up">
            <div class="col-wrapper-secondary">
              <div class="edu-content-box">
                <img src="mern_flat.png">
                <div class="title-content-box">Yelp Camp</div>
                <p>A MEN stack that is a review forum that posts, reviews, and communicates campgrounds that the user
                  for interaction</p>
              </div>
              <div class="btn-content">
                <a href="https://whispering-everglades-98644.herokuapp.com/">Check out Yelp Camp</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div data-aos="fade-up" data-aos-delay="150">
            <div class="col-wrapper-secondary">
              <div class="edu-content-box">
                <img src="vag_flat.png" alt="">
                <div class="title-content-box">VueShare</div>
                <p>A Vue Apollo and Graphql stack photography forum that shares pictures and reviews of various
                  locations and objects.</p>
              </div>
            </div>
            <div class="btn-content">
              <a href="https://vue-share.dgarza0413.now.sh/">Let's go to vue share</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>

  <!--Skills portion-->
  <section id="skillsBox" class="container">
    <div class="content">
      <div class="top-content">
        <div class="top-content-title">
          Skills
        </div>
        <div class="content-skills">
          <p>Ready to contact me? Adaptation has been key in diversifying my skillset. <span>Oil and Gas</span> industry
            standards, <span>Biological</span> field studies, <span>Front-end </span>and <span>back-end</span> web
            development practices </p>
        </div>
      </div>
      <div data-aos="fade-up">
        <div class="col-wrapper-secondary">
          <div class="row">
            <div class="col">
              <img src="database-flat.png">
              <div class="title-grid">
                DB Knowledge
              </div>
              <div class="box">
                <p>Includes understanding of <span>Access SQLite</span> and <span>MongoDB</span> both SQL and noSQL
                  concepts. Demonstrated SQLite experience with developing company report and inventory lists.</p>
              </div>
            </div>
            <div class="col">
              <img src="icons-flat.png">
              <div class="title-grid">
                HTML CSS JS
              </div>
              <div class="box">
                <p>Current studies include <span>HTML CSS JS</span> and a suite of knowledge in <span>frameworks</span>
                  like bootstrap and Semantic ui and JS Libraries such as <span>React & Vue</span>.</p>
              </div>
            </div>
            <div class="col">
              <img src="interpretation-flat.png">
              <div class="title-grid">
                Log Interpretation
              </div>
              <div class="box">
                <p>Interpretation of both historical and modern <span>well logs</span> with a diverse understanding of
                  measurement tools, as well as, correlation of both <span>structural</span> and
                  <span>stratigraphic</span> features.</p>
              </div>
            </div>
            <div class="col">
              <img src="geo-flat.png">
              <div class="title-grid">
                Geological Field Assessment
              </div>
              <div class="box">
                <p>Evaluation of historical fields and its remaining <span>fluid reserves</span> through continuing
                  <span>development</span> and <span>exploration</span> expansion. Experience using <span>seismic
                    interpreting</span> & production forecasting software suites over assets</p>
              </div>
            </div>
            <div class="col">
              <img src="research-flat.png">
              <div class="title-grid">
                Research Attributes
              </div>
              <div class="box">
                <p>Retrieval of archieved information in physical facilities and digital websites from <span>historial
                    logs</span>, to <span>production reports</span>, to <span>wellbore regulatory documents</span></p>
              </div>
            </div>
            <div class="col">
              <img src="management-flat.png">
              <div class="title-grid">
                Management
              </div>
              <div class="box">
                <p>Managed operation meetings, noted <span>field work</span> to be conducted, ran <span>cost benefit
                    analysis</span> and <span>work drafts</span> with related departments, logged and cored on
                  <span>drilling operations</span>.</p>
              </div>
            </div>
            <div class="col">
              <img src="microsoft-flat.png">
              <div class="title-grid">
                Microsoft Office
              </div>
              <div class="box">
                <p>Profiency in <span>microsoft word</span> and formal documentation, <span>powerpoint
                    presentations</span> and project evaluations, <span>outlook communications</span>, and expert
                  <span>excel</span> analytical skills</p>
              </div>
            </div>
            <div class="col">
              <img src="cad-flat.png">
              <div class="title-grid">
                CAD software
              </div>
              <div class="box">
                <p>Conducted field work for facilities evaluation and <span>process flow diagram</span> construction on
                  CAD softwares <span>Vizio</span> and <span>ArcMap</span>. Conducted <span>inventory</span> of well
                  site equipment and <span>pipeline layout</span> and sizes.</p>
              </div>
            </div>
            <div class="col">
              <img src="field-flat.png">
              <div class="title-grid">
                Field Work
              </div>
              <div class="box">
                <p>Field Work characteristics including <span>gauging</span>, <span>well logging</span>, and workover
                  <span>rig supervision</span>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact portion -->
  <section id="contactMe" class="container">
    <div class="flex-row">
      <div class="flex-col">
        <div data-aos="fade-right" data-aos-duration="10" data-aos-once="false">
          <div class="col-wrapper" style="background-color:#4e9791;">
            <div class="email-image">
              <div class="top-content-title-secondary">
                EMAIL
              </div>
              <div class="col-4">
                <div class="col-wrapper-secondary">
                  <div class="edu-content-box">
                    <div class="email-image">
                      <img src="letter-flat.png">
                    </div>
                    <p class="title-content-box">Dgarza0413@gmail.com</p>
                    <p>I check my emails daily and will respond in a timely manner to setup an appointment for planning
                      and arrangements. Thank You again for emailing me.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-col">
        <div data-aos="fade-left" data-aos-duration="300" data-aos-once="false">
          <div class="col-wrapper">
            <div class="about-me-content">
              <div class="top-content-title-secondary">
                CLOSE
              </div>
              <p>I continue to learn tools of the trade that spark the interest of future clients, production, design
                pages that express personal connections.</p>
              <i class="fas fa-ellipsis-h"></i>
              <p>I have full confidence we can work together whether being a geological prospect, a web design project,
                or biological review. I am continuously exploring more ideas and ventures and will be updating this page
                with current content. Thank you and Lets get to work!!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Footer-->
  <section id="footer" class="container">
    <div class="content">
      <div class="flex-row">
        <div class="flex-col">
          <p>Follow dgarza0413 on Facebook, Instagram, and LinkedIn</p>
          <a href="resumeDMG2018.pdf">Don't forget to take a copy of the Resume!!</a>
        </div>
        <div class="flex-col">
          <div class="icon-group">
            <a href="https://stackoverflow.com/users/11360627/david-garza">
              <i class="fab fa-stack-overflow fa-5x"></i>
            </a>
            <a href="https://www.codewars.com/users/dgarza0413"><i class="fas fa-code fa-5x"></i></a>
            <a href="https://github.com/Dgarza0413"><i class="fab fa-github fa-5x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="../../scripts/javascript.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>AOS.init();</script>

</body>

</html>